<!-- 1A- CRIACAO DA PAGINA HOME -->
<!-- 1A- primeiro foi criado o layout para a aplicação, de um lado a imagen e de outro a parte de login -->
<div class="container">
  <div class="row ">
    <div class="col-md-7 mb-2 ">
      <img class="img-fluid" src="./../../assets/img/1.png" alt="csgo">
    </div>
    <div class="col-md-5 text-center ">
      <!-- 11A- colocar o router-oulet, porque o conteudo aqui vai ser projetado apartir de uma rota -->
      <!-- 11B- depois ir ate o home-routing -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
